export(poLCA, 
       poLCA.simdata, 
       poLCA.reorder, 
       poLCA.table, 
       poLCA.entropy, 
       poLCA.predcell, 
       poLCA.posterior, 
       rmulti)
       
S3method(print, poLCA)
S3method(plot, poLCA)
S3method(coef, poLCA)
S3method(vcov, poLCA)

useDynLib(poLCA)
